:root {
    --1-firstcolor: #eaf6f6; 
    --1-secondcolor: #fcfefe;
    --2-firstcolor: #e4f1fe;
    --2-secondcolor: #8dc6ff;

    --h1: 5.063rem;
    --h2: 3.375rem;
    --h3: 2.25rem;    
    --h4: 1.5rem;
}