:root {
    --skyblue: #a5D8DD; 
    --lightgray: #DADADA;
}

.color1 {
    background-color: var(--skyblue);
}

.color2 {
    background-color: var(--lightgray);
}

#CardBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img {
    height: 5rem;
}

.Card {
    border: solid 1px black;
    text-align: center;
    width: 30%;
    margin: 1rem auto;
}

section {
    margin-top: 1rem;
}

button {
    margin: auto 1rem;
    align-items: center;
}