:root {
    --skyblue: #a5D8DD; 
    --lightgray: #DADADA;
}

.color1 {
    background-color: var(--skyblue);
}

.color2 {
    background-color: var(--lightgray);
}

.Box {
    font-size: 10rem;
}

img {
    height: 5rem;
}

.Card {
    border: solid 1px black;
    text-align: center;
    width: 50%;
    margin: auto;
}